Node Red Application/2. Node Red Code.txt
[{"id":"deb0d57.1c46528","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1806d8c1.fa52a7","type":"http in","z":"deb0d57.1c46528","name":"/time","url":"/time","method":"get","upload":false,"swaggerDoc":"","x":90,"y":100,"wires":[["fee79fb1.54e9c"]]},{"id":"be68aa2c.5ff548","type":"http response","z":"deb0d57.1c46528","name":"http response","statusCode":"","headers":{},"x":940,"y":260,"wires":[]},{"id":"7d607d4b.9995c4","type":"http in","z":"deb0d57.1c46528","name":"/random","url":"/random","method":"get","upload":false,"swaggerDoc":"","x":60,"y":400,"wires":[["930dbfe.0b5004","4ba5149b.9164cc"]]},{"id":"930dbfe.0b5004","type":"random","z":"deb0d57.1c46528","name":"","low":"1","high":"10","inte":"true","property":"payload","x":260,"y":400,"wires":[["1ce6c3dc.60ee3c","97365b8e.cfc668"]]},{"id":"fee79fb1.54e9c","type":"moment","z":"deb0d57.1c46528","name":"","topic":"","input":"","inputType":"msg","inTz":"EST","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:mm","locale":"en_US","output":"","outputType":"msg","outTz":"EST","x":340,"y":100,"wires":[["c47597a6.905da8","67aa0998.1b8078"]]},{"id":"c47597a6.905da8","type":"template","z":"deb0d57.1c46528","name":"time template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"time\": \"{{payload}}\"}","output":"str","x":620,"y":100,"wires":[["be68aa2c.5ff548"]]},{"id":"1ce6c3dc.60ee3c","type":"template","z":"deb0d57.1c46528","name":"random number template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"random\": {{payload}}}","output":"str","x":630,"y":240,"wires":[["be68aa2c.5ff548"]]},{"id":"9e007b5a.6b8b38","type":"http in","z":"deb0d57.1c46528","name":"/page","url":"/page","method":"get","upload":false,"swaggerDoc":"","x":70,"y":560,"wires":[["920206a.3353cf8"]]},{"id":"67aa0998.1b8078","type":"function","z":"deb0d57.1c46528","name":"last requested time","func":"flow.set('LastRequestedTime', msg.payload);","outputs":1,"noerr":0,"x":630,"y":160,"wires":[[]]},{"id":"920206a.3353cf8","type":"function","z":"deb0d57.1c46528","name":"Last Time and Number","func":"var lasttime = flow.get('LastRequestedTime') || 0;\nvar lastnumber = flow.get('LastRandomNumber') || 0;\nvar lastnumber_time = flow.get('LastRandomNumberTime');\n\nif(lasttime === 0)\n{\n    msg.payload = \"No server time requests have been received\";\n}\nelse\n{\n    msg.payload = \"Time last server time request received at \" + lasttime;\n}\nif(lastnumber === 0)\n{\n    mas.payload += \"<br>No requests for random numbers have been received\";\n}\nelse\n{\n    msg.payload += \"<br>Last random number request returned \"+lastnumber+\", which was received at \"+lastnumber_time;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":560,"wires":[["be68aa2c.5ff548"]]},{"id":"97365b8e.cfc668","type":"function","z":"deb0d57.1c46528","name":"last random number generated","func":"flow.set('LastRandomNumber', msg.payload);","outputs":1,"noerr":0,"x":610,"y":320,"wires":[[]]},{"id":"4ba5149b.9164cc","type":"moment","z":"deb0d57.1c46528","name":"","topic":"","input":"","inputType":"msg","inTz":"EST","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:mm","locale":"en_US","output":"","outputType":"msg","outTz":"EST","x":320,"y":460,"wires":[["f296d7a5.867168"]]},{"id":"f296d7a5.867168","type":"function","z":"deb0d57.1c46528","name":"last number time","func":"flow.set('LastRandomNumberTime', msg.payload);","outputs":1,"noerr":0,"x":570,"y":420,"wires":[[]]}]