Node Red Basic Program/2. Node Red Program Code.txt
[{"id":"deb0d57.1c46528","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5d1e9873.6a94e8","type":"inject","z":"deb0d57.1c46528","name":"Input to random","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":200,"wires":[["8fa73b88.215178"]]},{"id":"8fa73b88.215178","type":"random","z":"deb0d57.1c46528","name":"Random Number","low":"0","high":"10","inte":"true","property":"payload","x":410,"y":200,"wires":[["2ec81d4a.e7bf12"]]},{"id":"9014a6eb.aa33f8","type":"debug","z":"deb0d57.1c46528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":910,"y":200,"wires":[]},{"id":"2ec81d4a.e7bf12","type":"function","z":"deb0d57.1c46528","name":"Number seperator","func":"if(msg.payload < 5)\n{\n    msg.payload = \"Number \"+msg.payload+\" is a low number\";\n}\nelse\n{\n    msg.payload = \"Number \"+msg.payload+\" is a high number\";\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":670,"y":200,"wires":[["9014a6eb.aa33f8"]]}]