End to end scenario/2. Watson IOT code.txt
[
    {
        "id": "cd21add.abff25",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "628df8ac.d4c548",
        "type": "ibmiot in",
        "z": "cd21add.abff25",
        "authentication": "boundService",
        "apiKey": "be0774a7.c97a98",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "b39ry32web",
        "applicationId": "",
        "deviceType": "raspiGW",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "from pi",
        "service": "registered",
        "allDevices": false,
        "allApplications": "",
        "allDeviceTypes": false,
        "allLogicalInterfaces": "",
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 160,
        "y": 180,
        "wires": [
            [
                "ff8528d2.fc3668"
            ]
        ]
    },
    {
        "id": "904cba13.34aea8",
        "type": "debug",
        "z": "cd21add.abff25",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 590,
        "y": 180,
        "wires": []
    },
    {
        "id": "ff8528d2.fc3668",
        "type": "function",
        "z": "cd21add.abff25",
        "name": "Getting pi temp",
        "func": "msg.payload = msg.payload.d.pi_temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 180,
        "wires": [
            [
                "904cba13.34aea8"
            ]
        ]
    },
    {
        "id": "5b3a4d81.38fb74",
        "type": "ibmiot in",
        "z": "cd21add.abff25",
        "authentication": "boundService",
        "apiKey": "be0774a7.c97a98",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "senb39ry32web",
        "applicationId": "",
        "deviceType": "senseD",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": false,
        "allApplications": "",
        "allDeviceTypes": false,
        "allLogicalInterfaces": "",
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 160,
        "y": 320,
        "wires": [
            [
                "ca92c6cb.87d948"
            ]
        ]
    },
    {
        "id": "e2f3a87b.c67968",
        "type": "debug",
        "z": "cd21add.abff25",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 810,
        "y": 320,
        "wires": []
    },
    {
        "id": "ca92c6cb.87d948",
        "type": "function",
        "z": "cd21add.abff25",
        "name": "Sensehat temp and humidity",
        "func": "msg.payload = [msg.payload.d.temperature,msg.payload.d.humidity];\n\nif(Math.floor(msg.payload[0]) > 29)\n{\n    msg.payload = {'show': {'screen': 'on', 'temp':Math.floor(msg.payload[0])}};\n}\nelse\n{\n    msg.payload = {'show': {'screen': 'off', 'temp':Math.floor(msg.payload[0])}};\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 320,
        "wires": [
            [
                "e2f3a87b.c67968",
                "3a9a03a5.ffe82c"
            ]
        ]
    },
    {
        "id": "3a9a03a5.ffe82c",
        "type": "ibmiot out",
        "z": "cd21add.abff25",
        "authentication": "boundService",
        "apiKey": "be0774a7.c97a98",
        "outputType": "cmd",
        "deviceId": "senb39ry32web",
        "deviceType": "senseD",
        "eventCommandType": "display",
        "format": "json",
        "data": "{}",
        "qos": 0,
        "name": "IBM IoT",
        "service": "registered",
        "x": 780,
        "y": 420,
        "wires": []
    },
    {
        "id": "be0774a7.c97a98",
        "type": "ibmiot",
        "z": "",
        "name": "",
        "keepalive": "60",
        "serverName": "",
        "cleansession": true,
        "appId": "",
        "shared": false
    }
]